# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.sqlite3
*.db
*.vtt
data/
logs/
dist/
.env

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.vscode/
.idea/
# Cookies
*cookies*.txt
youtube_cookies.txt

